Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
.local/.hidden/
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath

*.private.env.json
.run/groupby-development-*.json

#Lombok
lombok.config

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

# ignore vim temp files
*.swp
*.swo
